@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400..800&display=swap');


:root {
  --primary-color: #0063B1;       /* Color for question text */
  --secondary-color: #2E7D32;     /* Color for possible answer text */
  --option-letter-color: #800080; /* Color for option letters */
  --text-color: #070707;          /* Color for text */
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
}

section,
article {
    display: block;
    padding: 0;
}

body {
    background: #f8f8f8;
    font-family: 'Nunito';
    line-height: 1.5;
}

p {
    margin-top: 0;
}

a,
a:visited,
a:link,
.quasilink {
    color: var(--primary-color);
}

.quasilink {
    cursor: pointer;
}

article {
    max-width: 700px;
    margin: 0 0 0 160px;
    border-left: 2px solid var(--primary-color);
    border-right: 1px solid #ddd;
    padding: 30px 50px 100px 50px;
    background: white;
    z-index: 2;
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nav {
    position: fixed;
    padding-top: 30px;
    max-height: 100%;
    box-sizing: -moz-border-box;
    box-sizing: border-box;
    overflow-y: auto;
    left: 0;
    right: none;
    width: 160px;
    text-align: right;
    z-index: 1;
}

@media screen and (min-width: 1000px) {
    article {
        margin: 0 auto;
    }

    #nav {
        right: 50%;
        width: auto;
        border-right: 349px solid transparent;
    }
}

#nav ul {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

#nav a {
    text-decoration: none;
}

#nav li {
    display: block;
    margin-bottom: 4px;
}

#nav li ul {
    font-size: 80%;
    margin-bottom: 0;
    display: none;
}

#nav li.active ul {
    display: block;
}


.language-option {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
  cursor: pointer;
  line-height: 24px;
}

.language-option img {
  vertical-align: middle;
  margin-right: 4px;
  width: 22px;
  height: 22px;
  margin-bottom: 3px;
}

.selected-language {
  font-weight: bold;
  text-decoration: underline;
}

.cm-s-default .cm-atom {
    color: var(--primary-color) !important;
    font-weight: bold !important;
}

.cm-s-default .cm-comment {
    color: var(--option-letter-color) !important;
    font-weight: bold !important;
}

.cm-s-default .cm-variable-2 {
    color: var(--text-color) !important;
}

.cm-s-default .cm-number {
    color: var(--secondary-color) !important;
    font-weight: bold !important;
}

.CodeMirror {
  font-family: "Baloo Chettan 2"!important;
}